<h1>Grocery Lists!</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Description</th>
      <th>Items</th>
      <th>Price</th>
      <th>Created</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.store %></td>
        <td><%= list.description %></td>
        <td><%= find_number_of_items(list) %></td>
        <td><%= sprintf('%.2f', find_total_price(list)) %></td>
        <td><%= list.created_at %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>You've spent a total of $<%= sprintf('%.2f',  lists_total_price ) %></p>
<%= link_to 'New List', new_list_path %>
