<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @list.store %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Number of items:</strong>
  <%= find_number_of_items(@list) %>
</p>

<p>
  <strong>Price:</strong>
  <%= sprintf('%.2f', find_total_price(@list)) %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
