<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @list.store %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Number of items:</strong>
  <%= find_number_of_items(@list) %>
</p>

<p>
  <strong>Price:</strong>
  <%= sprintf('%.2f', find_total_price(@list)) %>
</p>

<strong>Items:</strong>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% item_list(@list).each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= sprintf('%.2f', item.price) %></td>
        <td><%= item.qty %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
